<!-- Nav -->
<div>
    Nav
</div>

<!-- Banner -->
<div>
    Pacific Ocean
    <img class="banner" src="{{ vm.images.bigFish }}" alt="">
</div>

<!-- 2 Smaller Images -->
<div class="container">
    <div class="square-container">
        <img class="square-img" src="{{ vm.images.whale }}" alt="">
    </div>
    <div class="square-container">
        <img class="square-img" src="{{ vm.images.smallFish }}" alt="">
    </div>
</div>

<!-- History Section -->
<a href="" ui-sref="history()">History</a>
<div ui-view></div>