<!-- nav -->
<navigation>
    <a href="" class="nav-link">Sea Otters</a>
    <a href="" class="nav-link">Killer Whales</a>
    <a href="" class="nav-link">Viper Fish</a>
</navigation>

<div class="content">
    <!-- top half -->
    <div class="top">
        <p class="pacific-ocean-title">
            Pacific Ocean
        </p>
        <div class="viper-fish-container">
            <img class="viper-fish-img" src="{{ vm.images.bigFish }}"></img>
        </div>
    </div>

    <!-- bottom half -->
    <div class="bottom">
        <div class="bottom-container">
            <div class="square-image-container square-image-container-left">
                <img class="square-image" src="{{ vm.images.whale }}" />
            </div>
            <div class="square-image-container square-image-container-right">
                <img class="square-image" src="{{ vm.images.smallFish }}" />
            </div>

            <!-- history footer -->
            <a class="footer" href="" ui-sref="history()">
                <div class="history">
                    History
                </div>
            </a>
        </div>
    </div>

    <div ui-view></div>
</div>