.history-container {
    // cover the screen
    position:fixed;
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    z-index: 1000;
    background-color: $primary-color;

    top: 0px;

    font-size: 1.5em;

    & a {
        float: right;
    }

    & .wiki-text {
        font-size: 0.7em;
    }
}

// abstract & add to common
.column {
    max-width: 90%;
    margin: 5%;
}

.close-history {
    @include basic-link;
    color: $secondary-color;
}

// TODO: make font size responsive
.wikipedia-text {
    background-color: $primary-font-color;
    height: 50%;
    padding: 5%;
}